<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  
</head>
    <body>
        
        @RenderSection("Head",false)
        
        <h1>这里是模板页：布局页面的内容</h1>
        @RenderBody()

    </body>
</html>
